body {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Arial", sans-serif;
	font-size: 12px;
	tab-size: 4;
	padding: 10px;
	line-height: 1.4;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	body {
		background: #1E1E1E;
		color: white;
	}
}

pre,
code {
	font-family: Menlo, monospace;
}
