<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>QLPlugin</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<!--
					File types that Glance cannot provide previews for:

					- Files that are already supported by macOS (e.g. .csv)
					- com.apple.property-list (.plist)
					- public.mpeg-2-transport-stream (.ts)
					- public.xml (.xml)
				-->

				<!-- Archive -->
				<string>org.gnu.gnu-zip-archive</string> <!-- .gz -->
				<string>public.tar-archive</string> <!-- .tar -->
				<string>public.zip-archive</string> <!-- .zip -->

				<!-- Jupyter Notebook -->
				<string>dyn.ah62d4rv4ge80w6d3r3va</string> <!-- .ipynb -->

				<!-- Markdown -->
				<string>com.unknown.md</string> <!-- .md (used by TeXShop) -->
				<string>dyn.ah62d4rv4ge8042pwrrwg875s</string> <!-- .markdown -->
				<string>dyn.ah62d4rv4ge8043a</string> <!-- .md -->
				<string>dyn.ah62d4rv4ge8043dts71a</string> <!-- .mdown -->
				<string>dyn.ah62d4rv4ge80445e</string> <!-- .mkd -->
				<string>dyn.ah62d4rv4ge80445er2</string> <!-- .mkdn -->
				<string>dyn.ah62d4rv4ge80445er7506</string> <!-- .mkdown -->
				<string>dyn.ah62d4rv4ge81e5pe</string> <!-- .Rmd -->
				<string>net.daringfireball.markdown</string> <!-- .markdown, .md, .mdown, .mkd, .mkdn -->
				<string>net.ia.markdown</string> <!-- .md (used by iA Writer) -->

				<!-- TSV -->
				<string>dyn.ah62d4rv4ge81k2pc</string> <!-- .tab -->
				<string>public.tab-separated-values-text</string> <!-- .tsv -->

				<!-- Code / plain text -->
				<string>com.adobe.jsx</string> <!-- .jsx (used for React instead of ExtendScript) -->
				<string>com.apple.applescript.script-bundle</string> <!-- .scptd (AppleScript bundle) -->
				<string>com.apple.applescript.script</string> <!-- .scpt (AppleScript binary) -->
				<string>com.apple.applescript.text</string> <!-- .applescript (AppleScript text file) -->
				<string>com.apple.disk-image-dart</string> <!-- .dart (used for Google's programming language instead of Apple's Disk Archive/Retrieval Tool) -->
				<string>com.apple.dt.document.scheme</string> <!-- .xcscheme (Xcode schemes) -->
				<string>com.apple.dt.interfacebuilder.document.storyboard</string> <!-- .storyboard (Xcode Storyboard) -->
				<string>com.apple.interfacebuilder.document.cocoa</string> <!-- .xib (Xcode XIB) -->
				<string>com.apple.rez-source</string> <!-- .r -->
				<string>com.apple.rez-source</string> <!-- .r (used for R instead of Apple's Rez) -->
				<string>com.apple.xcode.entitlements-property-list</string> <!-- .entitlements -->
				<string>com.apple.xcode.projectdata</string> <!-- .pbxproj (Xcode project data) -->
				<string>com.apple.xcode.strings-dictionary</string> <!-- .stringsdict (Xcode Stringsdict) -->
				<string>com.apple.xcode.strings-text</string> <!-- .strings (Xcode Strings Resource) -->
				<string>com.barebones.bbedit.ini-configuration</string> <!-- .cfg -->
				<string>com.barebones.bbedit.scss-source</string> <!-- .scss -->
				<string>com.barebones.bbedit.tex-source</string> <!-- .tex -->
				<string>com.eiffel.source-code</string> <!-- .e (Eiffel) -->
				<string>com.microsoft.csharp-source</string> <!-- .cs -->
				<string>com.microsoft.f-sharp</string> <!-- .fsx (F Sharp) -->
				<string>com.netscape.javascript-source</string> <!-- .js -->
				<string>com.runningwithcrayons.alfred.appearance</string> <!-- Alfred theme (.alfredappearance) -->
				<string>com.sequelpro.sequelpro.spf</string> <!-- .spf (Sequel Pro query favorites file) -->
				<string>com.sequelpro.sequelpro.sptheme</string> <!-- .spTheme (Sequel Pro theme file) -->
				<string>com.sequelpro.sequelpro.sql</string> <!-- .sql (used by Sequel Pro) -->
				<string>com.sun.java-source</string> <!-- .java -->
				<string>com.vallettaventures.texpadm.bibtex</string> <!-- .bib (Texpad BibTeX) -->
				<string>com.vallettaventures.texpadm.tex</string> <!-- .cls, .sty, .tex (Texpad LaTeX) -->
				<string>dyn.ah62d4rv4ge8007a</string> <!-- .kt (Kotlin) -->
				<string>dyn.ah62d4rv4ge8024pvszy0k</string> <!-- .liquid -->
				<string>dyn.ah62d4rv4ge80255drq</string> <!-- .lock (lockfile for Cargo, Poetry, Yarn, ...) -->
				<string>dyn.ah62d4rv4ge8043d2</string> <!-- .mdx (MDX, Markdown with JSX) -->
				<string>dyn.ah62d4rv4ge8045a</string> <!-- .ml (OCaml) -->
				<string>dyn.ah62d4rv4ge8064p2</string> <!-- .nix -->
				<string>dyn.ah62d4rv4ge8064pr</string> <!-- .nim (Nim) -->
				<string>dyn.ah62d4rv4ge8064prsm10k</string> <!-- .nimrod (Nim) -->
				<string>dyn.ah62d4rv4ge8064xp</string> <!-- .njk (Nunjucks) -->
				<string>dyn.ah62d4rv4ge80c7p2</string> <!-- .aux (LaTeX) -->
				<string>dyn.ah62d4rv4ge80g55sq2</string> <!-- .conf -->
				<string>dyn.ah62d4rv4ge80g5pbrrwu</string> <!-- .cmake -->
				<string>dyn.ah62d4rv4ge80g62</string> <!-- .cs -->
				<string>dyn.ah62d4rv4ge80g6pq</string> <!-- .cql (Cassandra) -->
				<string>dyn.ah62d4rv4ge80n5dr</string> <!-- .elm -->
				<string>dyn.ah62d4rv4ge80n65dsmy1a7a</string> <!-- .escript (Erlang) -->
				<string>dyn.ah62d4rv4ge80n8a</string> <!-- .ex (Elixir) -->
				<string>dyn.ah62d4rv4ge80n8dx</string> <!-- .exs (Elixir) -->
				<string>dyn.ah62d4rv4ge80s3prsr2gn22</string> <!-- .gemspec (Ruby) -->
				<string>dyn.ah62d4rv4ge80s52</string> <!-- .go -->
				<string>dyn.ah62d4rv4ge80s6xbqv0gn</string> <!-- .gradle -->
				<string>dyn.ah62d4rv4ge80s6xbsbyhc5a</string> <!-- .graphql (GraphQL) -->
				<string>dyn.ah62d4rv4ge80s6xbsbyhc5dx</string> <!-- .graphqls (GraphQL schema) -->
				<string>dyn.ah62d4rv4ge80u25q</string> <!-- .hcl -->
				<string>dyn.ah62d4rv4ge80u2psqv0gn2xbsm3u</string> <!-- .handlebars -->
				<string>dyn.ah62d4rv4ge80u2xx</string> <!-- .hbs (Handlebars) -->
				<string>dyn.ah62d4rv4ge80w5pq</string> <!-- .iml -->
				<string>dyn.ah62d4rv4ge80y5a</string> <!-- .jl -->
				<string>dyn.ah62d4rv4ge80y652</string> <!-- .jsx -->
				<string>dyn.ah62d4rv4ge81a63v</string> <!-- .ps1 (PowerShell) -->
				<string>dyn.ah62d4rv4ge81a65rge</string> <!-- .psm1 (PowerShell) -->
				<string>dyn.ah62d4rv4ge81e2ppqy</string> <!-- .rake (Ruby) -->
				<string>dyn.ah62d4rv4ge81e3pxr70hq3pe</string> <!-- .resolved (lockfile for Swift Package Manager) -->
				<string>dyn.ah62d4rv4ge81e3pxsu</string> <!-- .rest (reStructuredText) -->
				<string>dyn.ah62d4rv4ge81e45y</string> <!-- .rkt (Racket) -->
				<string>dyn.ah62d4rv4ge81e62</string> <!-- .rs -->
				<string>dyn.ah62d4rv4ge81e65y</string> <!-- .rst (reStructuredText) -->
				<string>dyn.ah62d4rv4ge81e6k</string> <!-- .rq (SPARQL) -->
				<string>dyn.ah62d4rv4ge81g25brvuu</string> <!-- .scala -->
				<string>dyn.ah62d4rv4ge81g25xsq</string> <!-- .scss -->
				<string>dyn.ah62d4rv4ge81g2pxsq</string> <!-- .sass -->
				<string>dyn.ah62d4rv4ge81g3pws3y0g3k</string> <!-- .service (systemd) -->
				<string>dyn.ah62d4rv4ge81g6dbsm202</string> <!-- .sparql (SPARQL) -->
				<string>dyn.ah62d4rv4ge81g6pq</string> <!-- .sql -->
				<string>dyn.ah62d4rv4ge81k55d</string> <!-- .toc (LaTeX) -->
				<string>dyn.ah62d4rv4ge81k55rru</string> <!-- .toml -->
				<string>dyn.ah62d4rv4ge81k652</string> <!-- .tsx -->
				<string>dyn.ah62d4rv4ge81k75mq6</string> <!-- .twig -->
				<string>dyn.ah62d4rv4ge81k7dq</string> <!-- .ttl (Turtle) -->
				<string>dyn.ah62d4rv4ge81q7pf</string> <!-- .vue -->
				<string>dyn.ah62d4rv4ge81s3pcrzu064pgqz31k</string> <!-- .webmanifest (web app manifest) -->
				<string>dyn.ah62d4rv4ge81s65eru</string> <!-- .wsdl -->
				<string>dyn.ah62d4rv4ge81s65g</string> <!-- .wsf -->
				<string>dyn.ah62d4rv4ge81u65e</string> <!-- .xsd -->
				<string>dyn.ah62d4rv4ge81u65q</string> <!-- .xsl -->
				<string>dyn.ah62d4rv4ge81u65qsu</string> <!-- .xslt -->
				<string>org.arduino.ino-source</string> <!-- .ino (Arduino) -->
				<string>org.arduino.source</string>  <!-- .pde (Arduino) -->
				<string>org.asm.source</string> <!-- .asm (TASM) -->
				<string>org.codehaus.groovy-source</string> <!-- .groovy -->
				<string>org.coffee.source</string> <!-- .coffee (CoffeeScript) -->
				<string>org.coffeescript.coffeescript</string>
				<string>org.cson.source</string> <!-- .cson (CoffeeScript-Object-Notation) -->
				<string>org.erlang.erlang-source</string> <!-- .erl, .hrl (Erlang) -->
				<string>org.fish.source</string> <!-- .fish -->
				<string>org.gcc.files</string> <!-- .d -->
				<string>org.go.source</string> <!-- .go -->
				<string>org.gradle.source</string> <!-- .gradle -->
				<string>org.haskell.haskell-source</string> <!-- .hs (Haskell) -->
				<string>org.haskell.literate-haskell-source</string> <!-- .lhs (Haskell) -->
				<string>org.inno.source</string> <!-- .iss -->
				<string>org.iso.sql</string> <!-- .sql -->
				<string>org.khronos.glsl.fragment-shader</string> <!-- .frag (OpenGL Shading Language) -->
				<string>org.khronos.glsl.vertex-shader</string> <!-- .vert (OpenGL Shading Language) -->
				<string>org.kmt.source</string> <!-- .kmt -->
				<string>org.kotlinlang.source</string> <!-- .kt (Kotlin) -->
				<string>org.lua.lua-source</string> <!-- .lua -->
				<string>org.microsoft.inf</string> <!-- .inf -->
				<string>org.n8gray.awk</string> <!-- .awk -->
				<string>org.n8gray.bat</string> <!-- .bat, .cmd -->
				<string>org.n8gray.ini-source</string> <!-- .ini -->
				<string>org.n8gray.jsp-source</string> <!-- .jsp -->
				<string>org.n8gray.lisp</string> <!-- .clj, .el, .lisp -->
				<string>org.n8gray.makefile</string> <!-- .mk (Makefile) -->
				<string>org.n8gray.railstemplate</string> <!-- .erb, .rhtml, .rjs -->
				<string>org.n8gray.scheme-source</string> <!-- .scm (Scheme) -->
				<string>org.n8gray.standard-ml-source</string> <!-- .sml (Standard ML) -->
				<string>org.n8gray.structured-query-language-source</string> <!-- .sql -->
				<string>org.n8gray.verilog</string> <!-- .v (Coq) -->
				<string>org.n8gray.vhdl</string> <!-- .vhdl -->
				<string>org.nfo</string> <!-- .nfo -->
				<string>org.ocaml.ocaml-interface</string> <!-- .mli (OCaml) -->
				<string>org.ocaml.ocaml-source</string> <!-- .ml, .mll, .mly (OCaml) -->
				<string>org.omg.ecore</string> <!-- .ecore -->
				<string>org.rdf.source</string> <!-- .rdf -->
				<string>org.rust-lang.source</string> <!-- .rs (Rust) -->
				<string>org.scala.source</string> <!-- .scala -->
				<string>org.tug.latex</string> <!-- .latex (used by TeXShop) -->
				<string>org.tug.lua</string> <!-- .lua (used by TeXShop) -->
				<string>org.tug.tex</string> <!-- .tex (used by TeXShop) -->
				<string>org.vim.vim-script</string> <!-- .vim -->
				<string>org.xul.source</string> <!-- .xul -->
				<string>public.ada-source</string> <!-- .ada, .adb, .ads (Ada) -->
				<string>public.assembly-source</string> <!-- .s (Assembly) -->
				<string>public.bash-script</string> <!-- .bash -->
				<string>public.c-header</string> <!-- .h -->
				<string>public.c-plus-plus-header</string> <!-- .hpp, .h++, .hh, .hxx -->
				<string>public.c-plus-plus-source</string> <!-- .cpp, .c++, .cc, .cxx, .cp -->
				<string>public.c-source</string> <!-- .c -->
				<string>public.csh-script</string> <!-- .csh -->
				<string>public.css</string> <!-- .css -->
				<string>public.data</string> <!-- e.g. .gitignore, .editorconfig, README, ... -->
				<string>public.fortran-90-source</string> <!-- .f90 (Fortran) -->
				<string>public.fortran-source</string> <!-- .f, .for (Fortran) -->
				<string>public.json</string> <!-- .json -->
				<string>public.ksh-script</string> <!-- .ksh (KornShell) -->
				<string>public.make-source</string> <!-- .mak (Makefile) -->
				<string>public.module-map</string> <!-- .modulemap (Clang module map) -->
				<string>public.objective-c-source</string> <!-- .m (Objective-C) -->
				<string>public.opencl-source</string> <!-- .cl (OpenCL) -->
				<string>public.pascal-source</string> <!-- .pas (Pascal) -->
				<string>public.patch-file</string> <!-- .diff, .patch -->
				<string>public.perl-script</string> <!-- .pl, .pm (Perl) -->
				<string>public.php-script</string> <!-- .php -->
				<string>public.plain-text</string> <!-- .txt -->
				<string>public.protobuf-source</string> <!-- .proto (Protocol Buffer) -->
				<string>public.python-script</string> <!-- .py -->
				<string>public.rss</string> <!-- .rss -->
				<string>public.ruby-script</string> <!-- .rb, .rbw (Ruby) -->
				<string>public.script</string>
				<string>public.shell-script</string> <!-- .sh -->
				<string>public.source-code</string>
				<string>public.swift-source</string> <!-- .swift -->
				<string>public.tcsh-script</string> <!-- .tcsh -->
				<string>public.tex</string> <!-- .tex -->
				<string>public.text</string>
				<string>public.yaml</string> <!-- .yaml, .yml -->
				<string>public.zsh-script</string> <!-- .zsh -->
				<string>tk.tcl.tcl-source</string> <!-- .tcl -->
			</array>
			<key>QLSupportsSearchableItems</key>
			<true/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).MainVC</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 Samuel Meuli. All rights reserved.</string>
</dict>
</plist>
