name: Test

on:
  - push
  - pull_request

defaults:
  run:
    working-directory: ./HTMLConverter/

jobs:
  test:
    name: Test
    runs-on: macos-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.14

      - name: Restore Go Modules cache
        id: go-mod-cache
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod/
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-mod-

      - name: Run tests
        run: go test
